/* Add your styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.tab {
    overflow: hidden;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

.tab button {
    background-color: #ddd;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-family: inherit;
    border-radius: 5px 5px 0 0;
}

.tab button:hover {
    background-color: #ccc;
}

.tab button.active {
    background-color: #333;
    color: #fff;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.event-card {
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
    margin-top: 0;
}

.register-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.8);
    /* Light Blue */
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: growModal 0.5s forwards, fadein 0.5s forwards;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform-origin: center;
    width: 300px;
    /* Задаємо ширину форми */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

@keyframes growModal {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Стилі для форми реєстрації */

#registration-form {
    text-align: left;
    /* Вирівнюємо текст ліворуч */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button.register-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.register-button:hover {
    background-color: #0056b3;
}